#calculator {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: #0a9152;
  border-radius: 1rem;
  height: 800px;
  width: 500px;
  padding: 1rem;
}

#display {
  background-color: #424242;
  color: #FFFFFF;
  width: 90%;
  height: 200px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: self-end;

}

#result, #operation {
  height: 100px;
  margin: 1rem;
  font-size: 60px;
}

.buttons-container {
  display: grid;
  width: 100%;
  margin: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
    "clear clear backspace division"
    "number7 number8 number9 multiplication"
    "number4 number5 number6 minus"
    "number1 number2 number3 plus"
    "number0 number0 period equal";
    place-content: center;
    justify-items: center;
    grid-gap: 1rem;
}

#clear {
  grid-area: clear;
}

#backspace {
  grid-area: backspace;
}

#division {
  grid-area: division;
}

#number7 {
  grid-area: number7;
}

#number8 {
  grid-area: number8;
}

#number9 {
  grid-area: number9;
}

#multiplication {
  grid-area: multiplication;
}

#number4 {
  grid-area: number4;
}

#number5 {
  grid-area: number5;
}

#number6 {
  grid-area: number6;
}

#minus {
  grid-area: minus;
}

#number1 {
  grid-area: number1;
}

#plus {
  grid-area: plus;
}

#number0 {
  grid-area: number0;
}

#period {
  grid-area: period;
}

#equal {
  grid-area: equal;
}

button {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  font-size: 40px;
}

.doubleBtn {
  box-sizing: border-box;
  width: 100%;
}

.operationBtn {
  background-color: #b3d3b3;
  font-weight: bold;
}

.numberBtn {
  background-color: #0a9152;
}
